<a href="https://colab.research.google.com/github/ninjahurricane007/Learn.py/blob/main/TASK%2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [1]:
#please provide your answer below this line.
import numpy as np
import pandas as pd
dates=pd.date_range("20210101", periods=6)
df=pd.DataFrame(np.random.rand(6,4) ,index=dates, columns=list('ABCD'))
print(df)
print(" ")
print(df.iloc[0:3])
print(" ")
print(df.iloc[0::2])
print(" ")
print(df.index[0:4])

                   A         B         C         D
2021-01-01  0.309532  0.543148  0.745938  0.132150
2021-01-02  0.425256  0.224783  0.329544  0.896767
2021-01-03  0.137910  0.717261  0.419671  0.221139
2021-01-04  0.687061  0.498406  0.081722  0.711266
2021-01-05  0.102457  0.749256  0.495911  0.540385
2021-01-06  0.528213  0.243700  0.105637  0.364366

                   A         B         C         D
2021-01-01  0.309532  0.543148  0.745938  0.132150
2021-01-02  0.425256  0.224783  0.329544  0.896767
2021-01-03  0.137910  0.717261  0.419671  0.221139

                   A         B         C         D
2021-01-01  0.309532  0.543148  0.745938  0.132150
2021-01-03  0.137910  0.717261  0.419671  0.221139
2021-01-05  0.102457  0.749256  0.495911  0.540385

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04'], dtype='datetime64[ns]', freq='D')

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [9]:
#please provide your answer below thins line.
import numpy as np
import pandas as pd
dates=pd.date_range("20210101", periods=6)
df=pd.DataFrame(np.random.rand(6,4) ,index=dates, columns=list('ABCD'))
print(df)
print(" ")
a=df.head(3)
print(a.iloc[:,0:2])
print(" ")
print(df.iloc[[2]])
print(" ")
print(df.iloc[1:5, :])
print(" ")
b=df.iloc[:, [0,2]]
print(b.iloc[[0,1,3], :])

                   A         B         C         D
2021-01-01  0.500424  0.325118  0.046170  0.000622
2021-01-02  0.506175  0.425782  0.166103  0.168153
2021-01-03  0.489965  0.949177  0.816972  0.332608
2021-01-04  0.637429  0.006638  0.239785  0.312228
2021-01-05  0.744388  0.246827  0.208101  0.329308
2021-01-06  0.474630  0.743730  0.786387  0.826959

                   A         B
2021-01-01  0.500424  0.325118
2021-01-02  0.506175  0.425782
2021-01-03  0.489965  0.949177

                   A         B         C         D
2021-01-03  0.489965  0.949177  0.816972  0.332608

                   A         B         C         D
2021-01-02  0.506175  0.425782  0.166103  0.168153
2021-01-03  0.489965  0.949177  0.816972  0.332608
2021-01-04  0.637429  0.006638  0.239785  0.312228
2021-01-05  0.744388  0.246827  0.208101  0.329308

                   A         C
2021-01-01  0.500424  0.046170
2021-01-02  0.506175  0.166103
2021-01-04  0.637429  0.239785