<a href="https://colab.research.google.com/github/ninjahurricane007/Learn.py/blob/main/TASK%2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [12]:
#please type your answer below this line.
import pandas as pd
import numpy as np
data = pd.Series([1,3,5,np.nan,6,8],  index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"], name='myseries')
data

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
china         6.0
Nepal         8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [18]:
#please type 
dates = pd.date_range('20210101', periods=6, freq='D')
random = np.random.randn(6,4)
df = pd.DataFrame(random, index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-01-01 -1.951904  1.580558 -0.757409 -0.468760
2021-01-02 -1.439130  0.752224  0.117832 -0.740267
2021-01-03 -0.443592 -0.029608  0.084785 -1.397583
2021-01-04  0.431333  0.990180 -1.224552  0.807326
2021-01-05  1.437409 -1.360484  0.121914 -0.451809
2021-01-06 -0.533073  0.214879  0.309171  1.356121